{% extends "layouts/default.njk" %} {% block content %}
<main class="main">
  <div class="container">
    <div class="flex-container">
      <section class="center-block">
        <div class="content">
          <h1 class="yellow-title">О фонде</h1>
          <img src="images/about.jpg" alt="">
          <p>Общественный фонд «Помощи детям и подросткам с синдромом Дауна КYН БАЛА» существует с 14 августа 2015 года. Фонд организован при участии семей, воспитывающих детей и подростков с синдромом Дауна (СД) и является на сегодняшний день первым и единственным фондом на территории г. Алматы, представляющим интересы людей с СД. Наш фонд объединяет и представляет интересы более 100 семей на территории Алматы и Алматинской области, в которых живут и воспитываются «солнечные» дети.</p>
          <blockquote>
            Миссия нашего фонда – Изменить к лучшему жизнь детей с синдромом Дауна в Казахстане
          </blockquote>
          <p><strong>Цели и задачи фонда: </strong></p>
          <ul>
            <li>Снижение уровня социального сиротства детей с синдромом Дауна в г. Алматы и Алматинской области.</li>
            <li>Организация и оказание социальной и психологической помощи семьям, воспитывающим детей с синдромом Дауна</li>
            <li>Содействие развитию государственной системы ранней помощи детям с синдромом Дауна </li>
            <li>Содействие социальной адаптации и интеграции в общество людей с синдромом Дауна</li>
            <li>Содействие развитию программ, направленных на создание рабочих мест для людей с синдромом Дауна.</li>
            <li>Содействие развитию программ инклюзивного образования.</li>
            <li>Развитие и распространение передового опыта в работе с людьми с синдромом Дауна.</li>
            <li>Повышение информированности населения РК о синдроме Дауна с целью изменить отношение общества к людям, имеющим данный синдром.</li>
          </ul>
        </div>
      </section>
      <aside class="right-block">
        <h3 class="orange-title">Новости и события</h3>
        <div class="side-slider">
          <!-- Slider main container -->
          <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide news-item">
                <a href="">
                  <img src="images/news1.jpg" alt="">
                </a>
                <div class="news-title">
                  <a href="">Ребенок должен жить в семье</a>
                </div>
                <div class="news-text">Рождение ребенка с синдромом Дауна зачастую оказывается большой неожиданностью для родителей. Что делать? Как жить дальше? Кто виноват?</div>
                <div class="news-date">21.02.2018</div>
              </div>
              <div class="swiper-slide news-item">
                <a href="">
                  <img src="images/news1.jpg" alt="">
                </a>
                <div class="news-title">
                  <a href="">Ребенок должен жить в семье</a>
                </div>
                <div class="news-text">Рождение ребенка с синдромом Дауна зачастую оказывается большой неожиданностью для родителей. Что делать? Как жить дальше? Кто виноват?</div>
                <div class="news-date">21.02.2018</div>
              </div>
              <div class="swiper-slide news-item">
                <a href="">
                  <img src="images/news1.jpg" alt="">
                </a>
                <div class="news-title">
                  <a href="">Ребенок должен жить в семье</a>
                </div>
                <div class="news-text">Рождение ребенка с синдромом Дауна зачастую оказывается большой неожиданностью для родителей. Что делать? Как жить дальше? Кто виноват?</div>               
              </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
           
          </div>
          <a href="" class="btn btn--orangeSmall">Все новости</a>
        </div>
        <h3 class="yellow-title">Программы фонда</h3>
        <div class="side-slider">
          <!-- Slider main container -->
          <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide news-item">
                <a href="">
                        <img src="images/news1.jpg" alt="">
                      </a>
                <div class="news-title">
                  <a href="">Ребенок должен жить в семье</a>
                </div>
                <div class="news-text">Рождение ребенка с синдромом Дауна зачастую оказывается большой неожиданностью для родителей. Что делать? Как жить дальше? Кто виноват?</div>
                <div class="news-date">21.02.2018</div>
              </div>
              <div class="swiper-slide news-item">
                <a href="">
                        <img src="images/news1.jpg" alt="">
                      </a>
                <div class="news-title">
                  <a href="">Ребенок должен жить в семье</a>
                </div>
                <div class="news-text">Рождение ребенка с синдромом Дауна зачастую оказывается большой неожиданностью для родителей. Что делать? Как жить дальше? Кто виноват?</div>
               
              </div>
              <div class="swiper-slide news-item">
                <a href="">
                        <img src="images/news1.jpg" alt="">
                      </a>
                <div class="news-title">
                  <a href="">Ребенок должен жить в семье</a>
                </div>
                <div class="news-text">Рождение ребенка с синдромом Дауна зачастую оказывается большой неожиданностью для родителей. Что делать? Как жить дальше? Кто виноват?</div>
               
              </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
           
          </div>
          <a href="" class="btn btn--orangeSmall">Все новости</a>
        </div>
      </aside>
    </div>
  </div>
</main>
{% endblock %}
