{% extends "layouts/default.njk" %} {% block content %}
<main class="main">
  <div class="container">
    <div class="flex-container">
      <section class="center-block">
        <h1 class="yellow-title">Что такое Синдром Дауна. Причины, симптомы, формы и лечение</h1>
        <div class="content">
          <p>Синдро́м Да́уна (трисомия по хромосоме 21) — одна из форм геномной патологии, при которой чаще всего кариотип представлен 47 хромосомами вместо нормальных 46, поскольку хромосомы 21-й пары, вместо нормальных двух, представлены тремя копиями (см. также плоидность). Существует ещё две формы данного синдрома: транслокация хромосомы 21 на другие хромосомы (чаще на 15, реже на 14, ещё реже на 21, 22 и Y-хромосому) — 4 % случаев, и мозаичный вариант синдрома — 5 %.</p>
          <p>Синдром получил название в честь английского врача Джона Дауна, впервые описавшего его в 1866 году. Связь между происхождением врождённого синдрома и изменением количества хромосом была выявлена только в 1959 году французским генетиком Жеромом Леженом. На молодёжном сленге «даунами» пренебрежительно называют просто глупых людей[1][2].</p>
          <p>Слово «синдром» означает набор признаков или характерных черт. При употреблении этого термина предпочтительнее форма «синдром Дауна», а не «болезнь Дауна»[3].</p>
          <p>Первый Международный день человека с синдромом Дауна был проведён 21 марта 2006 года по инициативе греческого генетика Стилианоса Антонаракиса из Женевского университета. День и месяц были выбраны в соответствии с номером пары и количеством хромосом.</p>
          <p>Английский врач Джон Лэнгдон Даун первый в 1862 году описал и охарактеризовал синдром, впоследствии названный его именем, как форму психического расстройства. Широко известным понятие стало после опубликования им доклада на эту тему в 1866 году. Из-за эпикантуса Даун использовал термин монголоиды (синдром же называли «монголизмом»). Представление о синдроме Дауна было очень привязано к расизму вплоть до 1970-х годов.</p>
          <p>Мэте Риволла из Университета Бордо обнаружила в некрополе возле церкви в Шалон-сюр-Сон останки ребенка с характерными для синдрома Дауна аномалиями, жившего около 1500 лет назад, что является самым древним известным случаем синдрома Дауна. Она отметила, что характер захоронения никак не отличался от остальных, а значит люди с синдромом, скорее всего, не подвергались социальной стигматизации. Джон Старбак из Университета Индианы, изучая статуэтку тольтеков, предположил, что она изображает человека с синдромом Дауна.[4] </p>
          <p>В XX веке синдром Дауна стал достаточно распространённым диагнозом. Люди с синдромом Дауна наблюдались, но только малая часть симптомов могла быть купирована. Большинство лиц с синдромом Дауна умирали младенцами или детьми. После возникновения евгенического движения в 33 из 48 американских штатов и в ряде других стран начали программы по принудительной стерилизации лиц с синдромом Дауна и сопоставимыми степенями инвалидности. Это также входило в программу умерщвления Т-4 в нацистской Германии. Судебные проблемы, научные достижения и протесты со стороны общества привели к отменам таких программ в течение десятилетия после окончания Второй мировой войны.</p>
          <p>До середины XX века причины синдрома Дауна оставались неизвестными, однако была известна взаимосвязь между вероятностью рождения ребёнка с синдромом Дауна и возрастом матери, также было известно то, что синдрому были подвержены все расы. Существовала теория о том, что синдром вызван сочетанием генетических и наследственных факторов. Другие теории гласили, что он вызван травмами во время родов.</p>
          <p>С открытием в 1950-х годах технологий, позволяющих изучать кариотип, стало возможно определить аномалии хромосом, их количество и форму. В 1959 году Жером Лежен обнаружил, что синдром Дауна возникает из-за трисомии 21-й хромосомы.</p>
        </div>
        <div class="sharing-block">
          <span>Поделитесь этой историей с друзьями</span>
          <div class="social-likes">
            <a href="" class="vkontakte" title="Поделиться ссылкой во Вконтакте">
              <img src="images/vk.jpg" alt="">
            </a>
            <a href="" class="facebook" title="Поделиться ссылкой на Фейсбуке">
              <img src="images/fb.jpg" alt="">
            </a>
          </div>
        </div>
      </section>
      <aside class="right-block">
        <h3 class="yellow-title">Другие статьи</h3>
        <div class="side-info">
          <div class="side-info-item">
            <a href="">Как оформить инвалидность и получить пособие?</a>
          </div>
          <div class="side-info-item">
            <a href="">Как оформить инвалидность и получить пособие?</a>
          </div>
          <div class="side-info-item">
            <a href="">Как оформить инвалидность и получить пособие?</a>
          </div>
          <div class="side-info-item">
            <a href="">Как оформить инвалидность и получить пособие?</a>
          </div>
          <div class="side-info-item">
            <a href="">Как оформить инвалидность и получить пособие?</a>
          </div>
          <div class="side-info-item">
            <a href="">Как оформить инвалидность и получить пособие?</a>
          </div>          
          <a href="" class="btn btn--orangeSmall">Все статьи</a>
        </div>
        
        <div class="feedback-form">
          <h3 class="form-title yellow-title">
            есть предложения?
          </h3>
          <p>пишите!</p>
          <form action="">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Имя">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Электронная почта">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Контактный телефон">
            </div>
            <div class="form-group">
              <textarea name="" class="form-control" id="" rows="7" placeholder="Ваши предложения"></textarea>
            </div>
            <button type="submit" class="btn btn--form">ОТПРАВИТЬ</button>
          </form>
        </div>
      </aside>
    </div>
  </div>
</main>
{% endblock %}
