{% extends "layouts/default.njk" %} {% block content %}
<main class="main">
  <div class="container">
    <div class="flex-container">
      <section class="center-block">
        <h1 class="yellow-title">Ребенок должен жить в семье</h1>
        <div class="content">
          <img src="images/news-example.jpg" alt="" class="content-image">
          <p>Все справляются с этой новостью по-разному. Нам понятны ваши чувства и страхи, и мы желаем вам пройти через трудности, став сильнее и мудрее. Мы знаем, что в этот момент вам нужна не только эмоциональная поддержка, но и качественная информация. Специалисты фонда составили подробную памятку-инструкцию, которая поможет вам взять контроль над ситуацией в свои руки</p>
          <p>Сотрудники фонда рекомендуют проверенные книги по специальным разделам педагогики и психологии, которые полезно иметь в личной библиотеке родителям, близким и преподавателям особенных детей.</p>
          <p>В Казахстане много семей с особенными детьми. Их образованные и активные родители вместе с педагогами, врачами, социальными работниками и сотрудниками фондов создают сеть поддержки для людей с синдромом Дауна, аутизмом и ДЦП. Обратитесь в одну из ближайших организаций, чтобы найти друзей, помощь и знания</p>
        </div>
        <div class="news-date">21.02.2018</div>
        <a href="" class="next-link">
            читать следующую новость
            <img src="images/next-arr.png" alt="">
          </a>
        <div class="inner-news-slider">
          <h3>Другие новости</h3>
          <!-- Slider main container -->
          <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide news-item">
                <a href=""><img src="images/news1.jpg" alt="">        </a>
                <div class="news-title">
                  <a href="">Ребенок должен жить в семье</a>
                </div>
                <div class="news-text">Рождение ребенка с синдромом Дауна зачастую оказывается большой неожиданностью для родителей. Что делать? Как жить дальше? Кто виноват?</div>
                <div class="news-date">21.02.2018</div>
              </div>
              <div class="swiper-slide news-item">
                <a href=""><img src="images/news2.jpg" alt="">        </a>
                <div class="news-title">
                  <a href="">Новый год в библиотеке им. Бегалина С.</a>
                </div>
                <div class="news-text">Библиотека им. Бегалина С. вновь распахнула двери для подопечных нашего фонда. В этот раз на новогоднее представление вокруг елками с яркими персонажами.</div>
                <div class="news-date">21.02.2018</div>
              </div>
              <div class="swiper-slide news-item">
                <a href="">
                    <img src="images/news3.jpg" alt="">
                  </a>
                <div class="news-title">
                  <a href="">В Кирове прошла четвертая благотворительная лыжная гонка</a>
                </div>
                <div class="news-text">18 февраля в Кирове на базе горнолыжного комплекса «Трамплин» состоялась четвертая благотворительная лыжная гонка «Спорт во благо».</div>
                <div class="news-date">21.02.2018</div>
              </div>
              <div class="swiper-slide news-item">
                <a href="">
                    <img src="images/news4.jpg" alt="">
                  </a>
                <div class="news-title">
                  <a href="">Московский зоопарк приглашает на бесплатные экскурсии</a>
                </div>
                <div class="news-text">17-18 февраля в Московском зоопарке пройдут бесплатные экскурсии, квесты и спектакли. </div>
                <div class="news-date">21.02.2018</div>
              </div>
              <div class="swiper-slide news-item">
                <a href="">
                    <img src="images/news1.jpg" alt="">
                  </a>
                <div class="news-title">
                  <a href="">Ребенок должен жить в семье</a>
                </div>
                <div class="news-text">Рождение ребенка с синдромом Дауна зачастую оказывается большой неожиданностью для родителей. Что делать? Как жить дальше? Кто виноват?</div>
                <div class="news-date">21.02.2018</div>
              </div>
              <div class="swiper-slide news-item">
                <a href="">
                    <img src="images/news2.jpg" alt="">
                  </a>
                <div class="news-title">
                  <a href="">Новый год в библиотеке им. Бегалина С.</a>
                </div>
                <div class="news-text">Библиотека им. Бегалина С. вновь распахнула двери для подопечных нашего фонда. В этот раз на новогоднее представление вокруг елками с яркими персонажами.</div>
                <div class="news-date">21.02.2018</div>
              </div>
              <div class="swiper-slide news-item">
                <a href="">
                    <img src="images/news3.jpg" alt="">
                  </a>
                <div class="news-title">
                  <a href="">В Кирове прошла четвертая благотворительная лыжная гонка</a>
                </div>
                <div class="news-text">18 февраля в Кирове на базе горнолыжного комплекса «Трамплин» состоялась четвертая благотворительная лыжная гонка «Спорт во благо».</div>
                <div class="news-date">21.02.2018</div>
              </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <aside class="right-block">
        <h3 class="yellow-title">Программы фонда</h3>
        <div class="side-slider">
          <!-- Slider main container -->
          <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide news-item">
                <a href="">
                        <img src="images/news1.jpg" alt="">
                      </a>
                <div class="news-title">
                  <a href="">Ребенок должен жить в семье</a>
                </div>
                <div class="news-text">Рождение ребенка с синдромом Дауна зачастую оказывается большой неожиданностью для родителей. Что делать? Как жить дальше? Кто виноват?</div>
                <div class="news-date">21.02.2018</div>
              </div>
              <div class="swiper-slide news-item">
                <a href="">
                        <img src="images/news1.jpg" alt="">
                      </a>
                <div class="news-title">
                  <a href="">Ребенок должен жить в семье</a>
                </div>
                <div class="news-text">Рождение ребенка с синдромом Дауна зачастую оказывается большой неожиданностью для родителей. Что делать? Как жить дальше? Кто виноват?</div>
              </div>
              <div class="swiper-slide news-item">
                <a href="">
                        <img src="images/news1.jpg" alt="">
                      </a>
                <div class="news-title">
                  <a href="">Ребенок должен жить в семье</a>
                </div>
                <div class="news-text">Рождение ребенка с синдромом Дауна зачастую оказывается большой неожиданностью для родителей. Что делать? Как жить дальше? Кто виноват?</div>
              </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          </div>
          <a href="" class="btn btn--orangeSmall">Все новости</a>
        </div>
        <div class="feedback-form">
          <h3 class="form-title yellow-title">
            есть предложения?
          </h3>
          <p>пишите!</p>
          <form action="">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Имя">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Электронная почта">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Контактный телефон">
            </div>
            <div class="form-group">
              <textarea name="" class="form-control" id="" rows="7" placeholder="Ваши предложения"></textarea>
            </div>
            <button type="submit" class="btn btn--form">ОТПРАВИТЬ</button>
          </form>
        </div>
      </aside>
    </div>
  </div>
</main>
{% endblock %}
