{% extends "layouts/default.njk" %} {% block content %}
<main class="main">
  <div class="container">
    <div class="flex-container">
      <section class="center-block">        
          <h1 class="yellow-title">программы фонда</h1>
          <div class="programms-list">
            <div class="programm-item green-prog">
              <img src="images/programm1.jpg" alt="">
              <div class="overlay">
                <a href="">
                  <span>Новогодняя елка в библиотеке им. Бегалина</span>
                </a>
              </div>
            </div>
            <div class="programm-item blue-prog">
              <img src="images/programm1.jpg" alt="">
              <div class="overlay">
                <a href="">
                  <span>Новогодняя елка в библиотеке им. Бегалина</span>
                </a>
              </div>
            </div>
            <div class="programm-item pink-prog">
              <img src="images/programm1.jpg" alt="">
              <div class="overlay">
                <a href="">
                  <span>Новогодняя елка в библиотеке им. Бегалина</span>
                </a>
              </div>
            </div>
            <div class="programm-item orange-prog">
              <img src="images/programm1.jpg" alt="">
              <div class="overlay">
                <a href="">
                  <span>Новогодняя елка в библиотеке им. Бегалина</span>
                </a>
              </div>
            </div>
            <div class="programm-item pink-prog">
              <img src="images/programm1.jpg" alt="">
              <div class="overlay">
                <a href="">
                  <span>Новогодняя елка в библиотеке им. Бегалина</span>
                </a>
              </div>
            </div>
            <div class="programm-item blue-prog">
              <img src="images/programm1.jpg" alt="">
              <div class="overlay">
                <a href="">
                  <span>Новогодняя елка в библиотеке им. Бегалина</span>
                </a>
              </div>
            </div>            
            <div class="programm-item orange-prog">
              <img src="images/programm1.jpg" alt="">
              <div class="overlay">
                <a href="">
                  <span>Новогодняя елка в библиотеке им. Бегалина</span>
                </a>
              </div>
            </div>
          </div>
          <nav class="page-navigation">
            <div class="prev-link disabled"><a href="">предыдущее</a></div>
            <ul>
              <li class="active">
               <a href="">1</a>
              </li>
              <li>
               <a href="">2</a>
              </li>
              <li>
               <a href="">3</a>
              </li>
              <li>
               <a href="">4</a>
              </li>
              <li>
               <a href="">5</a>
              </li>
            </ul>
            <div class="next-link"><a href="">следующее</a></div>
          </nav>       
      </section>
      <aside class="right-block">
        <h3 class="yellow-title">Программы фонда</h3>
        <div class="side-slider">
          <!-- Slider main container -->
          <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide news-item">
                <a href="">
                        <img src="images/news1.jpg" alt="">
                      </a>
                <div class="news-title">
                  <a href="">Ребенок должен жить в семье</a>
                </div>
                <div class="news-text">Рождение ребенка с синдромом Дауна зачастую оказывается большой неожиданностью для родителей. Что делать? Как жить дальше? Кто виноват?</div>
                <div class="news-date">21.02.2018</div>
              </div>
              <div class="swiper-slide news-item">
                <a href="">
                        <img src="images/news1.jpg" alt="">
                      </a>
                <div class="news-title">
                  <a href="">Ребенок должен жить в семье</a>
                </div>
                <div class="news-text">Рождение ребенка с синдромом Дауна зачастую оказывается большой неожиданностью для родителей. Что делать? Как жить дальше? Кто виноват?</div>
               
              </div>
              <div class="swiper-slide news-item">
                <a href="">
                        <img src="images/news1.jpg" alt="">
                      </a>
                <div class="news-title">
                  <a href="">Ребенок должен жить в семье</a>
                </div>
                <div class="news-text">Рождение ребенка с синдромом Дауна зачастую оказывается большой неожиданностью для родителей. Что делать? Как жить дальше? Кто виноват?</div>
               
              </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
           
          </div>
          <a href="" class="btn btn--orangeSmall">Все новости</a>
        </div>
        <div class="feedback-form">
          <h3 class="form-title yellow-title">
            есть предложения?
          </h3>
          <p>пишите!</p>
          <form action="">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Имя">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Электронная почта">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Контактный телефон">
            </div>
            <div class="form-group">
              <textarea name="" class="form-control" id="" rows="7" placeholder="Ваши предложения"></textarea>
            </div>
            <button type="submit" class="btn btn--form">ОТПРАВИТЬ</button>
          </form>
        </div>
      </aside>
    </div>
  </div>
</main>
{% endblock %}
