{% extends "layouts/default.njk" %} {% block content %}
<main class="main">
  <div class="container">
    <div class="flex-container">
      <section class="center-block">
        <div class="content">
          <h1 class="yellow-title">Сделайте свой вклад</h1>          
          <blockquote>
            Жертвуя деньги на деятельность фонда, вы помогаете нам делать больше!
          </blockquote>
          <p>Вы можете перечислить средства с банковской карты через систему PayBox</p>
          <img src="images/visa.png" alt="">
          <p>Если у вас возникли вопросы, позвоните нам: +7 727 854-52-87</p>
          <h4>Безопасность</h4>
          <p>Безопасность платежей обеспечивается надежными инструментами защиты и проходит через систему электронных платежей PayBox.kz. Наш сайт не собирает и не обрабатывает полученные конфиденциальные данные.</p>
          <a href="" class="btn btn--big">Сделать пожертвование Online</a>
          <p>Вы так же можете перечислить средства на расчетный счет фонда: <br>
          Здесь будут реквизиты расчетного счета фонда.</p>
        </div>
      </section>
      <aside class="right-block">
        <h3 class="orange-title">Новости и события</h3>
        <div class="side-slider">
          <!-- Slider main container -->
          <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide news-item">
                <a href="">
                  <img src="images/news1.jpg" alt="">
                </a>
                <div class="news-title">
                  <a href="">Ребенок должен жить в семье</a>
                </div>
                <div class="news-text">Рождение ребенка с синдромом Дауна зачастую оказывается большой неожиданностью для родителей. Что делать? Как жить дальше? Кто виноват?</div>
                <div class="news-date">21.02.2018</div>
              </div>
              <div class="swiper-slide news-item">
                <a href="">
                  <img src="images/news1.jpg" alt="">
                </a>
                <div class="news-title">
                  <a href="">Ребенок должен жить в семье</a>
                </div>
                <div class="news-text">Рождение ребенка с синдромом Дауна зачастую оказывается большой неожиданностью для родителей. Что делать? Как жить дальше? Кто виноват?</div>
                <div class="news-date">21.02.2018</div>
              </div>
              <div class="swiper-slide news-item">
                <a href="">
                  <img src="images/news1.jpg" alt="">
                </a>
                <div class="news-title">
                  <a href="">Ребенок должен жить в семье</a>
                </div>
                <div class="news-text">Рождение ребенка с синдромом Дауна зачастую оказывается большой неожиданностью для родителей. Что делать? Как жить дальше? Кто виноват?</div>               
              </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
           
          </div>
          <a href="" class="btn btn--orangeSmall">Все новости</a>
        </div>
        <h3 class="yellow-title">Программы фонда</h3>
        <div class="side-slider">
          <!-- Slider main container -->
          <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide news-item">
                <a href="">
                        <img src="images/news1.jpg" alt="">
                      </a>
                <div class="news-title">
                  <a href="">Ребенок должен жить в семье</a>
                </div>
                <div class="news-text">Рождение ребенка с синдромом Дауна зачастую оказывается большой неожиданностью для родителей. Что делать? Как жить дальше? Кто виноват?</div>
                <div class="news-date">21.02.2018</div>
              </div>
              <div class="swiper-slide news-item">
                <a href="">
                        <img src="images/news1.jpg" alt="">
                      </a>
                <div class="news-title">
                  <a href="">Ребенок должен жить в семье</a>
                </div>
                <div class="news-text">Рождение ребенка с синдромом Дауна зачастую оказывается большой неожиданностью для родителей. Что делать? Как жить дальше? Кто виноват?</div>
               
              </div>
              <div class="swiper-slide news-item">
                <a href="">
                        <img src="images/news1.jpg" alt="">
                      </a>
                <div class="news-title">
                  <a href="">Ребенок должен жить в семье</a>
                </div>
                <div class="news-text">Рождение ребенка с синдромом Дауна зачастую оказывается большой неожиданностью для родителей. Что делать? Как жить дальше? Кто виноват?</div>
               
              </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
           
          </div>
          <a href="" class="btn btn--orangeSmall">Все новости</a>
        </div>
      </aside>
    </div>
  </div>
</main>
{% endblock %}
