<div class="breadcrumbs">
  <div class="container">
    <ul>
      <li>
        <a href="">
          <img src="images/icon-home.png" alt="">
          Главная
        </a>
      </li>
      <li>
        О фонде
      </li>
    </ul>
  </div>  
</div>