
<div class="modal fade" tabindex="-1" id="quiz-modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h2 class="yellow-title">Опрос</h4>
      </div>
      <div class="modal-body">
        <div class="quiz-block">
          <p>Есть ли жизнь на Марсе?</p>
          <form action="">
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                Да
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Нет
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                Мне все равно
              </label>
            </div>
            <button type="submit" class="btn btn--orangelight">Проголосовать</button>
          </form>
          <div class="quiz-results">
            <div class="quiz-rezult">
              <div class="quiz-answer">Да</div>
              <div class="quiz-answer--value">
                <span>72%</span>
                <div class="quiz-answer--progress">
                  <div class="progress-filled first" style="width: 72%"></div>                  
                </div>
              </div>
            </div>
            <div class="quiz-rezult">
              <div class="quiz-answer">Нет</div>
              <div class="quiz-answer--value">
                <span>10%</span>
                <div class="quiz-answer--progress">                  
                  <div class="progress-filled second" style="width: 10%"></div>
                </div>
              </div>
            </div>
            <div class="quiz-rezult">
              <div class="quiz-answer">Мне все равно</div>
              <div class="quiz-answer--value">
                <span>5%</span>
                <div class="quiz-answer--progress">
                  <div class="progress-filled third" style="width: 5%"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>     
    </div><!-- end .modal-content -->
  </div><!-- end .modal-dialog -->
</div><!-- end .modal -->