
.btn {
	font-family: $font-primary-regular;
	font-style: normal;
	outline: none !important;
	transition: $transition-primary;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	&:active {
		box-shadow: none;
	}
	&:hover,
	&:active {
		transition: none;
	}
	
	&.btn--orange {
		background: url(../images/orange.png) center no-repeat;
		width: 257px;
		height: 54px;
		line-height: 43px;
	}
	&.btn--yellow {
		background: url(../images/yellow.png) center no-repeat;
		width: 156px;
		height: 31px;
		line-height: 28px;
		text-transform: none;
		font-size: 12px;
		padding-top: 0;
		color: #272727;
	}
	&.btn--orangelight {
		background: url(../images/orange-light.png) center no-repeat;
		width: 257px;
		height: 46px;
		line-height: 34px;
	}
}

.btn--primary {
	padding: 8px 25px 9px;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	background-color: $color-primary;
	&:focus {
		color: #fff;
	}
	&:hover,
	&:active {
		color: $color-primary;
		background-color: rgba($color-primary, .7);
	}

	&.btn--success {
		// background-color: $color-green;
		box-shadow: 8px 8px 16px 0 rgba(#07021E, .1);
		&:focus {
			color: #fff;
		}
		&:hover,
		&:active {
			color: #fff;
			background-color: #4DBE73;
		}
		&:active  {
			box-shadow: inset -1px 1px 12px rgba(#07021E, .15), 5px 5px 16px 0 rgba(#07021E, .08);
		}
	}
}