.header-contact--title {
  color: #6c6c6c;
  font-size: 12px;
  margin-bottom: 10px;
  i {
    color: #000;
    width: 15px;
    text-align: center;
  }
}

.header-contacts {
  font-size: 14px;
  margin-bottom: 0px;
  width: 300px;
}

.header-contact--info {
  margin-left: 15px;
}

.header-contact--tel {
  font-weight: bold;
  color: #6c6c6c;
  font-size: 14px;
  span {
    font-size: 30px;
    font-weight: 900;
    color: $color-orange;
    vertical-align: top;
    position: relative;
    top: -7px;
    margin-left: 3px;
  }
}

.main-menu {
  background: #fecc00;
  margin-top: 15px;
  ul {
    @media(max-width: 1170px) {
      padding-left: 10px;
    }
    li {
      display: inline-block;
      position: relative;
      a {
        display: block;
        padding: 12px 25px;
        z-index: 2;
        font-size: 14px;
        position: relative;
        text-transform: uppercase;
        color: #fff;
        font-family: 'Roboto Slab';
        font-weight: bold;
        transition: $transition-primary;
        &:hover {
          color: $color-orange;
          text-decoration: none;
        }
        @media(max-width: 1280px) {
          padding: 12px 15px;
        }
        @media(max-width: 1170px) {
          padding: 8px 12px;
          font-size: 12px;
        }
      }
      &.active {
        a {
          pointer-events: none;
        }
        &:before {
          content: "";
          top: -10px;
          display: block;
          position: absolute;
          box-sizing: border-box;
          height: 65px;
          width: 100%;
          background: $color-orange;
          padding: 10px;
          z-index: 1;
          -webkit-clip-path: polygon(0 5%, 97% 10%, 100% 87%, 0 93%);
          clip-path: polygon(0 5%, 97% 10%, 100% 87%, 0 93%);
        }
        @media(max-width: 1170px) {
          &:before {
            content: "";
            height: 52px;
          }
        }
      }
    }
    li+li {
      margin-left: 0px;
    }
  }
}


.top-slider--text {
  margin-top: 75px;  
  margin-left: 20px;
  width: 50%;
  position: relative;
  z-index: 3;
  .slider-text {
    background: #fff;
    padding: 30px 40px 50px;
    position: relative;
    &:before {
      content: url(../images/slidetext-before.png);
      position: absolute;
      left: -17px;
      top: -17px;
    }
    &:after {
      content: url(../images/slidetext-after.png);
      position: absolute;
      right: -11px;
      top: 7px;
    }

    p {
      font-size: 15px;
      line-height: 21px;
    }
  }
}

.read-more {
  line-height: 41px;
  width: 355px;
  height: 38px;
  background: url(../images/read-more.png) center no-repeat;
  padding-left: 25px;
  a {
    color: #272727;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.top-slider {
  width: 100%;
  margin-bottom: 55px;
  .swiper-slide {
    display: flex;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.top-slider-wrapper {
  margin-top: 45px;
  width: 50%;
  .top-slider--block {
    width: calc(100% + 35px);
    margin-left: -70px;
    margin-right: 35px;
    position: relative;
    &:before {
      content: url(../images/slider-before.png);
      position: absolute;
      left: -35px;
      top: -8px;
    }
    &:after {
      content: url(../images/slider-after.png);
      position: absolute;
      right: -26px;
      top: -18px;
    }
  }


  .top-slider--block img {
    width: 100%;
    max-width: 100%;
    height: 360px;
    object-fit: cover;
  }

  .slider-bottom {
    display: block;
    float: right;
    margin-right: 45px;
  }
}

.swiper-pagination {
    position: static;
    margin-top: 18px;
}

.top-block {
  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    position: static;
    margin-top: 18px;
    width: 50%;
    float: right;
    margin-right: 35px;
    span+span {
      margin-left: 6px;
    }
  } 
}



.swiper-pagination-bullet {
  border-radius: 0;
  border: 5px solid #fecc00;
  background: #fff;
  width: 20px;
  height: 20px;
  opacity: 1;
  outline: 0;
  &:hover {
    background: $color-orange;
  }
}

.swiper-pagination-bullet-active {
  background: $color-orange;
}

.news-container {
  text-align: center;
  margin-bottom: 45px;
}

.news-slider {
  margin-top: 35px;
  .news-item {
    width: calc(25% - 75px);
  }
}

.inner-news-slider {
  margin-top: 50px;
  .news-item {
    width: calc(33.33% - 75px);
  }
}

.news-item {
  text-align: left;
  margin-bottom: 23px;
  img {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.news-title {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 15px;
  a {
    color: $color-orange;
    &:hover {
      color: $color-yellow;
      text-decoration: none;
    }
  }
}

.news-text {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 12px;
}

.news-date {
  color: #909090;
  font-size: 12px;
}

.story-container {
  text-align: center;
  margin-bottom: 85px;
  .story-block {
    height: 429px;
    background: url(../images/story-bg.png) top center no-repeat;
    color: #fff;
    padding-top: 65px;
    @media (max-width: 1280px) {
      background-size: contain;
      height: 400px;      
      padding-top: 50px;
    }
    h2 {
      font-size: 30px;
      letter-spacing: 1px;
      margin-bottom: 30px;
    }
  }
  .story-text {
    width: 75%;
    margin: auto;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
    position: relative;
    @media (max-width: 1280px) {
      font-size: 20px;
      line-height: 24px;
    }        
    &:before {
      content: url(../images/quotes-left.png);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      @media (max-width: 1280px) {
        content: "";
        background: url(../images/quotes-left.png) center no-repeat;
        position: absolute;
        left: 0;
        top: 30%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background-size: contain;
      }      
    }
    &:after {
      content: url(../images/quotes-right.png);
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      @media (max-width: 1280px) {
        content: "";
        background: url(../images/quotes-right.png) center no-repeat;
        position: absolute;
        right: 0;
        top: 30%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background-size: contain;
      }    
    }
    .btn {
      margin-top: 20px;
    }
  }
  .story-author--image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  .story-author--name {
    font-size: 15px;
  }
}

.nav-tabs {
  text-align: center;
  border-bottom: 0;
  margin-bottom: 25px;
  &>li {
    float: none;
    margin-bottom: 0;
    display: inline-block;
    text-align: center;
    a {
      font-family: 'Roboto Slab';
      font-weight: bold;
      text-transform: uppercase;
      color: #272727;
      font-size: 14px;
      text-decoration: underline;
      border: 0;
      padding-left: 35px;
      padding-right: 30px;
    }
  }
  &>li.active {
    a {
      position: relative;
      z-index: 2;
      color: #272727;
      text-decoration: none;
      &:before {
        content: "";
        top: 0px;
        display: block;
        position: absolute;
        box-sizing: border-box;
        height: 40px;
        width: 100%;
        background: #fecc00;
        padding: 10px;
        z-index: -1;
        left: 0;
        -webkit-clip-path: polygon(0 0, 100% 0, 95% 92%, 16% 100%);
        clip-path: polygon(0 0, 100% 0, 95% 92%, 16% 100%);
      }
    }
  }
  &>li.active>a,
  &>li.active>a:hover,
  &>li.active>a:focus {
    border: 0;
  }
  &>li>a:hover,
  &>li>a:focus {
    border: 0;
    background: transparent;
  }
}

.galery-slider {
  position: relative;
  .galery-item {
    background: url(../images/slide-bg.png) center top no-repeat;
    background-size: 94% auto;
  }
  .galery-item1 {
    .galery-image {
      -webkit-clip-path: polygon(0 0, 100% 12%, 85% 100%, 9% 86%);
      clip-path: polygon(0 0, 100% 12%, 85% 100%, 9% 86%);
    }
  }
  .galery-item2 {
    .galery-image {
      -webkit-clip-path: polygon(10% 0, 93% 8%, 100% 78%, 0% 90%);
      clip-path: polygon(10% 0, 93% 8%, 100% 78%, 0% 90%);
    }
  }
  .galery-item3 {
    background-position: 100% 15px;
    background-size: 94% auto;
    .galery-image {
      -webkit-clip-path: polygon(20% 0, 93% 15%, 100% 100%, 0% 83%);
      clip-path: polygon(20% 0, 93% 15%, 100% 100%, 0% 83%);
    }
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    background: transparent;
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 77px;
    height: 76px;
    margin-top: -38px;
    outline: 0;
  }
  .swiper-button-prev {
    left: -25px;
  }
  .swiper-button-next {
    right: -25px;
  }
}

#galery-slider1 {
  .galery-item {
    position: relative;
    &:after {
      content: url(../images/image-icon.png);
      position: absolute;
      right: 30px;
      top: 35px;
    }
  }
}

.galery-image {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.footer-menu {
  padding: 27px 0 23px;
  background: url(../images/footermenu-bg.png) 0 100% repeat-x;
  ul {
    text-align: center;
    li {
      display: inline-block;
      a {
        text-transform: uppercase;
        color: #423d3d;
        font-size: 12px;
        font-family: 'Roboto Slab';
        font-weight: bold;
        transition: $transition-primary;
        &:hover {
          text-decoration: none;
          color: $color-orange;
        }
      }
    }
    li+li {
      margin-left: 55px;
    }
  }
}

.footer-content {
  padding-top: 30px;
  padding-bottom: 55px;
  i {
    color: #000;
    width: 15px;
    margin-right: 5px;
  }
  .footer-left {
    float: left;
  }
  .footer-right {
    float: right;
    p {
      margin-bottom: 5px;
    }
  }
  .copyright {
    color: #89734c;
  }
}

.breadcrumbs {
  padding: 15px 0;
  ul {
    padding-left: 0;
  }
  li {
    display: inline-block;
    color: #90724b;
    font-size: 12px;
    img {
      position: relative;
      top: -2px;
      margin-right: 5px;
    }
    a {
      color: #90724b;
    }
  }
  li+li {
    &:before {
      content: url(../images/arr-link.png);
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.side-slider {
  margin-top: 23px;
  margin-bottom: 40px;
  .swiper-pagination {
    text-align: left;
    margin-top: 0;
    .swiper-pagination-bullet {
      margin: 0;
      &+.swiper-pagination-bullet {
        margin-left: 8px;
      }
    }
  }
  .btn {
    float: right;
    margin-top: -30px;
    position: relative;
    z-index: 100;
  }
  img {
    width: 100%;
  }
}


.news-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
  .news-item {
    width: calc(33.33% - 40px);
    margin: 0 20px 40px;
    img {
      margin-bottom: 20px;
    }
  }
}

.stories-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -7px;
  margin-right: -7px;
  .news-item {
    width: calc(50% - 14px);
    margin: 0 7px 40px;
    img {
      margin-bottom: 20px;
      width: 100%;
    }
  }
}

.story-slider {
  img {
    width: 100%;
  }
}

.top-story-item {
  margin: 0 7px 15px;
  a {
    display: flex;
    color: #fff;
    text-decoration: none;
  }
  img {
    width: 63%;
    flex-shrink: 0;
  }
  .top-story-text {
    background: #f07c00;
    padding: 25px 25px;
    .top-story-title {
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      font-family: 'Roboto Slab';
      line-height: 30px;
      margin-bottom: 18px;
    }
    p {
      font-size: 14px;
      line-height: 21px;
    }
  }
}

.news-author {
  img {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    margin-bottom: 0 !important;
  }
  span {
    font-size: 12px;
    color: #f07c00;
    display: inline-block;
    vertical-align: middle;
  }
}

.sharing-block {
  padding: 4px 15px;
  margin-bottom: 50px;
  background: #f2efec;
  .social-likes {
    margin-left: 30px;
    display: inline-block;
    text-decoration: none;
    a {
      margin-right: 3px;
    }
    a:hover {
      text-decoration: none;
    }
  }
}

.info-list {
  margin-bottom: 50px;
}


.info-item {
  position: relative;
  padding-left: 25px;
  padding-bottom: 18px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
  .info-item--number {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 14px;
  }
  .info-title {
    margin-bottom: 17px;
    a {
      color: #f07c00;
      font-size: 17px;
      font-weight: bold;
      &:hover {
        color: #fecc00;
        text-decoration: none;
      }
    }
  }
  p {
    font-size: 14px;
    line-height: 21px;
  }
}

.side-info {
  margin-bottom: 25px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  a.btn {
    float: right;
  }
}

.side-info-item {
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  padding-left: 20px;

  &:before {
    content: url(../images/li.png);
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: -2px;
  }
  a {
    font-size: 14px;
    color: #f07c00;
    &:hover {
      text-decoration: none;
      color: #fecc00;
    }
  }
}

.contacts-list {
  display: flex;
  justify-content: space-between;
  .contact-item {
    padding-right: 90px;
    width: 33.33%;
    span {
      font-size: 14px;
      color: #767676;
      display: block;
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 0;
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;
    }
  }
}

.form-text {
  font-size: 14px;
  color: #767676;
  display: block;
  margin-bottom: 15px;
}

.contact-form {
  width: 55%;
  margin-top: 30px;
  .form-group.inline {
    display: inline-block;
    width: 49%;
    &+.form-group.inline {
      margin-left: .9%;
    }
  }
  .btn.btn--form {
    margin-left: 0;
  }
}

.map-block {
  margin-bottom: 35px;
}

#map {
  height: 370px;
}

.programms-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .programm-item {
    width: calc(50% - 45px);
    margin-right: 45px;
    margin-bottom: 45px;
    position: relative;
    overflow: hidden;
    &:hover {
      img {
        transform: scale(1.1)
      }
    }
    img {
      width: 100%;
      transition: .3s;
    }
    &.green-prog {
      .overlay {
        background: rgba(0, 118, 28, .5)
      }
    }
    &.orange-prog {
      .overlay {
        background: rgba(240, 124, 0, .5)
      }
    }
    &.blue-prog {
      .overlay {
        background: rgba(0, 111, 182, .5)
      }
    }
    &.pink-prog {
      .overlay {
        background: rgba(232, 65, 183, .5)
      }
    }
    .overlay {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      a {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        letter-spacing: .5px;
        text-transform: uppercase;
        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
        }
        span {
          width: 80%;
        }
      }
    }
  }
}

.fancybox-stage {
  max-width: 758px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  height: 80%;
  top: 50%;
}

.fancybox-image {
  max-width: 654px;
}

.fancybox-navigation {
  max-width: 848px;
  width: 55%;
  z-index: 99995;
  position: relative;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.fancybox-navigation .fancybox-button--arrow_left {
  background: url(../images/prev-btn.png) center no-repeat;
  left: 6px;
}

.fancybox-navigation .fancybox-button--arrow_right {
  background: url(../images/next-btn.png) center no-repeat;
  right: 6px;
}

.fancybox-navigation .fancybox-button {
  opacity: 1;
  padding: 0;
  position: absolute;
  top: 0;
  width: 77px;
  height: 76px;
  visibility: visible;
  svg {
    display: none;
  }
}


.fancybox-toolbar {
  top: 10%;
  right: 25%;
  visibility: visible;
  opacity: 1;
}

.fancybox-button {
  background: url(../images/fancy-close.png) center no-repeat;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  outline: none;
  padding: 10px;
  transition: color .2s;
  vertical-align: top;
  width: 54px;
  height: 43px;
  svg {
    display: none;
  }
  &.disabled {
    opacity: 0;
    visibility: hidden;
  }
}

.fancybox-caption {
  opacity: 1;
  visibility: visible;
  color: #272727;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  span {
    display: block;
    font-size: 14px;
    font-weight: normal;
  }
}

.fancybox-slide--image {
  padding: 44px 0 100px;
}

.fancybox-caption:before {
  display: none;
}

.fancybox-caption:after {
  display: none;
}

.quiz-block {
  p {
    font-weight: bold;
    font-size: 18px;
  }
}

td, th {
  border: 1px solid;
  padding: 10px 10px;
}
