
.nav-link {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
	transition: .3s;
	outline: none !important;
	color: #000;
	font-weight: normal;
	line-height: 1;
	&:focus {
		color: #000;
	}
	&:hover,
	&:active {
		color: $color-primary;
		transition: none;
	}
}

.page-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	ul {
		padding-left: 0;
		margin-bottom: 0;
		text-align: center;
		@media (max-width: 640px) {
			width: 100%;
		}
		li {
			display: inline-block;
			margin: 0 5px;
			a {
				font-family: 'Roboto';
				font-weight: bold;
				font-size: 17px;
				color: #f07c00;
				padding: 10px;
			}
			&.active {
				a {
					pointer-events: none;
					color: #000;
				}
			}
			&:hover {
				a {
					color: #000;
					text-decoration: none;
				}
			}
		}
	}
	.prev-link, .next-link {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 11px;
		@media (max-width: 640px) {
			display: none;
		}
		a {
			color:  #f07c00;
		}
		&.disabled {
			a {
				color: #727272;
				pointer-events: none;
			}
		}
	}
	.prev-link {
		a:before {
			content: "";
			display: inline-block;
			width: 48px;
			height: 2px;
			background: #f07c00;
			position: relative;
			top: -4px;	
			margin-right: 10px;		
		}
		&.disabled {
			a:before {
				background: #727272;
			}
		}
	}
	.next-link {
		margin-top: 0;
		a:after {
			content: "";
			display: inline-block;
			width: 48px;
			height: 2px;
			background: #f07c00;
			position: relative;
			top: -4px;	
			margin-left: 10px;
		}
		&.disabled {
			a:after {
				background: #727272;
			}
		}
	}
}